.crew-section {
  background: url("/crew/background-crew-mobile.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
  color: white;
  text-align: center;
}

.crew-container {
  max-width: 900px;
  margin: 0 auto;
}

.crew-title {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0 30px;
}

.crew-description {
  font-size: 16px;
  color: lightgray;
  margin-bottom: 30px;
}
.crew-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.crew-member {
  border-top: 1px solid gray;
  padding: 20px 0;
  text-align: center;
}
.member-image {
  width: 60%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.member-name {
  padding-top: 20px;
  font-size: 24px;
  margin-top: 5px;
}

.crew-role {
  font-size: 16px;
  color: lightgray;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .crew-section {
    background: url("/crew/background-crew-desktop.jpg") no-repeat center center;
    background-size: cover;
  }

  .member-image {
    width: auto;
    height: 250px;
  }

  .crew-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .crew-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .member-image {
    width: auto;
  }
}
